<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css"> -->

    <title>Role play game</title>
</head>

<body>
    <h1>Hello endava</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <form role="form" method="POST" action="game.php">
                <h2>Jugador 1</h2>
                <div class="form-group">
                    <label for="nick">Nickname</label>
                    <input type="text" class="form-control" placeholder="Nickname" name="nicknamep1">
                </div>

                <div class="form-group">
                    <label for="personaje">Seleccionar personaje</label>

                    <select class="form-control" name="characterp1">
                        <option>Arquero</option>
                        <option>Luchador</option>
                        <option>Mago</option>
                        <option>Tanque</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="arma">Seleccionar arma</label>

                    <select class="form-control" name="weaponp1">
                        <option>Arco</option>
                        <option>Hacha</option>
                        <option>Mazo</option>
                        <option>Espada</option>
                        <option>Varita</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="armadura">Seleccionar armadura</label>

                    <select class="form-control" name="armorp1">
                        <option>Armadura de tela</option>
                        <option>Armadura de malla</option>
                        <option>Casco</option>
                        <option>Escudo</option>
                        <option>Sin armadura</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <h2>Jugador 2</h2>
                <div class="form-group">
                    <label for="nick">Nickname</label>
                    <input type="text" class="form-control" placeholder="Nickname" name="nicknamep2">
                </div>

                <div class="form-group">
                    <label for="personaje">Seleccionar personaje</label>

                    <select class="form-control" name="characterp2">
                        <option>Arquero</option>
                        <option>Luchador</option>
                        <option>Mago</option>
                        <option>Tanque</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="arma">Seleccionar arma</label>

                    <select class="form-control" name="weaponp2">
                        <option>Arco</option>
                        <option>Hacha</option>
                        <option>Mazo</option>
                        <option>Espada</option>
                        <option>Varita</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="armadura">Seleccionar armadura</label>

                    <select class="form-control" name="armorp2">
                        <option>Armadura de tela</option>
                        <option>Armadura de malla</option>
                        <option>Casco</option>
                        <option>Escudo</option>
                        <option>Sin armadura</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Listo!</button>
                    </div>
                </div>

            </form>
            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- <script src="../../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script> -->
</body>

</html>